.wrapper {width: 980px; margin:  30px auto}
#sutrix_slider {overflow-x: hidden; width: 980px}
.slides {display: inline-block}
.slides li {float: left}
ul {padding: 0; list-style-type: none}
ul li {list-style-type: none}
.arrow-left {float: left}
.arrow-right {float: right}